@using BeeFee.WebApplication.Infrastructure
@using BeeFee.WebApplication.Areas.Org.Models
@model BeeFee.WebApplication.Areas.Org.Models.UpdateEventModel
@{
    ViewData["Title"] = "Редактирование события - " + Model.Name;
}
<form asp-action="Edit" asp-controller="Event" asp-route-id="@Model.Id" method="post" class="form-horizontal">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="CompanyId" />
    <input type="hidden" asp-for="Version" />
    <a asp-action="ToModerate" style="float: right;" class="btn-blue" asp-route-companyId="@Model.CompanyId" asp-route-id="@Model.Id" asp-route-version="@Model.Version">Опубликовать</a>
    <div class="create">
        @Html.Partial("_CreateOrUpdateEvent", Model)

    </div>


    <div class="form-group">
        @*<input type="submit" value="Save" class="btn" />*@
        
    </div>

    @*@if (Model.Comments.IsNotNull())
        {
            foreach (var comment in Model.Comments)
            {
                <hr />
                @comment
            }
        }*@
</form>

@section Scripts{
    @*<script src="~/lib/ckeditor/ckeditor.js"></script>*@
    <script type="text/javascript">
        $(function () {
   //         $('#startDateTimePicker').datetimepicker({
   //             format: "DD.MM.YYYY HH:mm"
   //         });
   //         $('#finishDateTimePicker').datetimepicker({
   //             format: "DD.MM.YYYY HH:mm",
   //             useCurrent: false //Important! See issue #1075
   //         });
   //         $("#startDateTimePicker").on("dp.change", function (e) {
   //             $('#finishDateTimePicker').data("DateTimePicker").minDate(e.date);
   //         });
   //         $("#finishDateTimePicker").on("dp.change", function (e) {
   //             $('#startDateTimePicker').data("DateTimePicker").maxDate(e.date);
			//});

			//CKEDITOR.replace('html');

	        $("#file").change(function() {
		        var $this = $(this);
		        var fd = new FormData;
		        fd.append('file', $this.prop('files')[0]);
				fd.append('setting', 'event');
				fd.append('companyName', '@(Model.CompanyUrl)');
				fd.append('eventName', '@(Model.Url)');
		        $.ajax({
					url: '@(BeeFeeWebAppSettings.Instance.ImagesUrl)/api/home',
			        contentType: false,
			        processData: false,
			        dataType: 'json',
			        method: "POST",
			        data: fd,
					success: function (data) {
						$this.next("span").remove();
						if (data.error != null) {
							$this.after("<span class=error>"+data.error+"</span>");
							return;
						}
						$this.next("img").remove();
				        $this.after("<img src='@(BeeFeeWebAppSettings.Instance.ImagesUrl)/min/@(Model.CompanyUrl)/@(Model.Url)/368x190/" + data.path + "' />");
				        $("#Cover").val(data.path);
			        }
		        });
	        });
        });
    </script>
}