@using BeeFee.WebApplication.Models.Account
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<environment include="Development">
		<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/eventpage.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/validation.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/xdsoft.css" asp-append-version="true" />
	    <link rel="stylesheet" href="~/css/cabinet.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/eventpage.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/validation.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/xdsoft.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/cabinet.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<div class="page">
		<header class="header">
			@Html.Partial("_TopMenuCabinet")
		</header>
		<div class="container">
			<div class="page--title">@(ViewBag.Header ?? ViewBag.Title)</div>
			@RenderBody()
		</div>
		@Html.Partial("_Footer")
		@RenderSection("after_footer", false)
	</div>
	<environment include="Development">
		<script src="~/js/jquery.min.js" asp-append-version="true"></script>
		<script src="~/lib/sticky-kit/jquery.sticky-kit.js"></script>
	    <script src="~/lib/datetimepicker/build/jquery.datetimepicker.full.js"></script>
		<script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
		@*<script src="~/lib/ScrollToFixed/jquery-scrolltofixed.js" asp-append-version="true"></script>*@
		<script src="~/scripts/site_script.js" asp-append-version="true"></script>
		<script src="~/js/events.js" asp-append-version="true"></script>
	    <script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/jquery.min.js" asp-append-version="true"></script>
	    <script src="~/lib/sticky-kit/jquery.sticky-kit.js"></script>
	    <script src="~/lib/datetimepicker/build/jquery.datetimepicker.full.js"></script>
		<script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
		@*<script src="~/lib/ScrollToFixed/jquery-scrolltofixed.js" asp-append-version="true"></script>*@
		<script src="~/scripts/site_script.js" asp-append-version="true"></script>
		<script src="~/js/events.js" asp-append-version="true"></script>
	    <script src="~/js/site.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
