@using BeeFee.Model.Embed
@model WebApplication3.Areas.Org.Models.Company.EventsFilter
@{
	ViewBag.Header = "Мои события";
}
@functions{

	public string GetDescription(BeeFee.OrganizerApp.Projections.Event.EventProjection @event)
	{

		switch (@event.State)
		{
			case EEventState.Close:
				return "регистрация закрыта";
			case EEventState.Created:
				return "вы не закончили создание события";
			case EEventState.Moderating:
				return "находится на модерации";
			case EEventState.NotModerated:
				return "модерация не пройдена";
			case EEventState.Cancel:
				return "события отменено";
			case EEventState.Open:
				return "опубликовано";

		}
		return "";
	}
}

@if (Model.Items.Total > 0)
{
	<div class="e-list">
		@foreach (var e in Model.Items)
		{
			<div class="e-item">
				<div class="e-item--head">
					<div class="e-item--title">@e.Name</div>
					@if (e.State == EEventState.Open)
					{
						<a asp-action="Preview" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" asp-route-version="@e.Version" class="e-item--btn is-view"></a>
						<a class="e-item--btn is-lock" asp-action="Close" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" asp-route-version="@e.Version" onclick="return confirm('Закрыть регистрацию?')"></a>
						<a asp-action="Registered" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id">список</a>
					}
					else if (e.State == EEventState.Close)
					{
					}
					else if (e.State == EEventState.Moderating)
					{
						<a asp-action="Preview" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" asp-route-version="@e.Version" class="e-item--btn is-view"></a>
						<a asp-action="Remove" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" asp-route-version="@e.Version" class="e-item--btn is-delete" onclick="return confirm('Удалить мероприятие?')"></a>
					}
					else if (e.State == EEventState.Created || e.State == EEventState.NotModerated)
					{
						<a asp-action="Edit" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" class="e-item--btn is-edit"></a>
						<a asp-action="Preview" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" asp-route-version="@e.Version" class="e-item--btn is-view"></a>
						<a asp-action="Remove" asp-controller="Event" asp-route-id="@e.Id" asp-route-parentId="@e.Parent.Id" asp-route-version="@e.Version" class="e-item--btn is-delete" onclick="return confirm('Удалить мероприятие?')"></a>
					}
				</div>
				<div class="e-item--text">@GetDescription(e)</div>
			</div>
		}
	</div>
	@Html.Partial("_Pager", Model.Items)
}
else
{
	<div class="text-center">
		Вы ещё не создали ни одного события
	</div>
}

<br /><br />
<a asp-action="CreateEvent" asp-route-parentId="@ViewBag.RequestModel.Id">Добавить новое событие</a>